@charset "utf-8";


html,
body {
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}


.current_calendar {
    position: absolute;
    z-index: 99;
    background-color: #fff;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    width: 50px;
}

.horizontal-calendar {
    clear: both;
    overflow: hidden;
    width: 100%;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ccc;
}

.horizontal-calendar .ui-draggable {
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    z-index: 1;
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 99999px;
}

.horizontal-calendar ul.ui-draggable > li {
    float: left;
    width: 40px;
    padding: 15px 5px ;
    margin: 0px;
    border-right: 1px solid rgba(0,0,0,0.03);
    text-align: center;
    position: relative;
    color: #fff;
}

.horizontal-calendar ul.ui-draggable > li.year_cell {
    width: 70px;
}